*.save-failed
bin
obj
*.exe
*.o
*.backup
res/rundebug.ps1
res/runrelease.ps1
gmon.out
res/data/*
res/subsys/*
res/*.exe
build/*
packed/*
docs/notes.sqlite
res/_config/*
res/_saves/*
wxbase32u_gcc1220_x64.dll
wxmsw32u_core_gcc1220_x64.dll